clojure/target
clojure/lib
clojure/classes
clojure/checkouts
clojure/pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
euler.iml
euler.ipr
euler.iws
.nrepl-port
atlassian-ide-plugin.xml
.lein-repl-history
